*{
  margin: 0px;
  padding: 0PX;
  font-size: 1em
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
  --fontnormal: Verdana, Geneva, Tahoma, sans-serif;
  --fontpassion: 'Passion One', cursive;
  --fontcordel: 'Sriracha', cursive;
}

html, body{
  min-height: 100vh;
  background-color: darkgrey;
  font-family: var(--fontnormal);
  font-size: 2.5vw;
}

header{
  background-color: black;
  color: white;
  text-align: center;
}

header > h1{
  padding-top: 50px;
  font-variant: small-caps;
  font-family: var(--fontpassion);
  font-size: 5vw;
}

header > p{
  padding-bottom: 50px;
}

a{
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

a:hover{
  text-decoration: underline;
}

section {
  padding-left: 30px;
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  font-family: var(--fontcordel);
  font-size: 2vw;
}

section p {
  padding-bottom: 2em;
}

.normal {
  background-color: white;
  color: black;
}

.imagem {
  background-color: rgb(17, 17, 17);
  color: white;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
  background-attachment: fixed;  
}

.imagem p {
  display: inline-block;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.514);
  text-shadow: 1px 1px 0px black;
}

#img01 {
  background-image: url(cordel/imagens/background001.jpg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
}

#img02 {
  background-image: url(cordel/imagens/background002.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 2vw;
}